/**
 * @date    2018.6.28 online
 * @version 4.0
 * @author shimin
 */
html,
body {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}


body,
button,
input,
select,
textarea {
    font-family: "Times New Roman", Verdana, Geneva, sans-serif, tahoma, Srial, helvetica, sans-serif;
}

body {
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

ul,
ol,
li {
    list-style: none
}

a {
    text-decoration: none
}

legend {
    color: #000
}

fieldset,
img {
    border: 0;
    vertical-align: top;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
    display: block;
}

figure {
    margin: 0;
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.clear {
    display: block;
    height: 0;
    overflow: hidden;
    clear: both
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom: 1
}

a:link,
a:visited,
a:hover {
    text-decoration: none
}

a {
    blr: expression_r(this.onFocus=this.blur())
}

a {
    outline: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

.noBg {
    background: none !important;
}

.noBd {
    border: none !important;
}

.noPd {
    padding: 0 !important;
}

.noMg {
    margin: 0 !important;
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline;
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

img {
    border: 0px;
    vertical-align: middle;
}

.blank {
    height: 30px;
    clear: both;
    width: 100%;
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.middle {
    text-align: center;
}

.boxIndex {
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.boxIndex:hover {
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    -o-transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}

.wPub {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative;
}

.w1000 {
    width: 1000px;
    margin: 0 auto;
    clear: both;
    position: relative;
}

.border50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/* css3.0 animate */
.ani,
.topArea ul li a,
.subMenu .subMenuTxt a,
.footTxt ul li a {
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
}

.anii {
    transition: all 0.5s ease-in-out 0s;
    -webkit-: all 0.5s ease-in-out 0s;
    -moz-: all 0.5s ease-in-out 0s;
    -o-: all 0.5s ease-in-out 0s;
    -ms-: all 0.5s ease-in-out 0s;
}

.translateY {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.translateX {
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.translateXY {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.iBlock {
    display: inline-block;
    vertical-align: middle;
}

.borderCircle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*top navlist*/
.fourIcon {
    background: url(../image/fouricon.png) no-repeat;
}

.topIdex {
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    z-index: 2016;
    top: 33px;
}

.topIdex h2 {
    width: 375px;
    height: 40px;
    background-position: -56px -3px;
}

.topIdex h2 a {
    width: 100%;
    height: 100%;
}

.topIdex .topNav a {
    margin: 0 20px;
    height: 35px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    line-height: 35px;
    position: relative;
}

.topIdex .topNav a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 50%;
    margin-left: -50%;
    bottom: -8px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
}

.topIdex .topNav a:hover:after,
.topIdex .topNav a.on:after {
    bottom: -2px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.menuBoxs {
    height: 80px;
    margin: -55px auto 0;
    z-index: 2016;
}

.navlist {
    width: 1200px;
    height: 80px;
    /* border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* background: #6a9bd3; */
    background-image: url(/image/nav.png);
    background-repeat-x: repeat;
    background-size: 100%;
    /* box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.6);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.6);
    -moz-box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.6);
    overflow: hidden;
    transition: background 0.3s linear 0s;
    -webkit-transition: background 0.3s linear 0s;
    -moz-transition: background 0.3s linear 0s; */
}

.navlist.navBg {
    background: #5f504e;
    box-shadow: none;
    z-index: 10;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navlist .subNav {
    width: 120px;
    height: 100%;
    text-align: center;
    position: relative;
    float: left;
    position: relative;
}

.navlist .subNav:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -5px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    background: #fff;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
}

.navlist .subNav.on:after {
    bottom: 0;
}

.navlist .subNav a {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
}

.navlist .subNav em {
    position: absolute;
    left: 50%
}

.navlist .subNav span {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
}

.navlist.navBg .subNav01 em {
    background-position: -8px -91px;
}

.navlist.navBg .subNav02 em {
    background-position: -59px -89px;
}

.navlist.navBg .subNav03 em {
    background-position: -94px -94px;
}

.navlist.navBg .subNav04 em {
    background-position: -141px -92px;
}

.navlist.navBg .subNav05 em {
    background-position: -182px -89px;
}

.navlist.navBg .subNav06 em {
    background-position: -221px -93px;
}

.navlist.navBg .subNav07 em {
    background-position: -262px -90px;
}

.navlist.navBg .subNav08 em {
    background-position: -296px -94px;
}

.navlist.navBg .subNav09 em {
    background-position: -337px -92px;
}

.navlist.navBg .subNav10 em {
    background-position: -373px -92px;
}

.navlist.navBg .subNav a {
    color: #050505;
}

.navlist.navBg .subNav.on a {
    color: 050505;
}

.navlist .subNav01 em,
.navlist .subNav01.on em {
    width: 38px;
    height: 18px;
    background-position: -8px -58px;
    margin-top: 21px;
}

.navlist .subNav02 em,
.navlist .subNav02.on em {
    width: 25px;
    height: 28px;
    background-position: -58px -53px;
    margin-top: 15px;
}

.navlist .subNav03 em,
.navlist .subNav03.on em {
    width: 30px;
    height: 22px;
    background-position: -97px -58px;
    margin-top: 21px;
}

.navlist .subNav04 em,
.navlist .subNav04.on em {
    width: 24px;
    height: 23px;
    background-position: -142px -59px;
    margin-top: 20px;
}

.navlist .subNav05 em,
.navlist .subNav05.on em {
    width: 22px;
    height: 28px;
    background-position: -183px -55px;
    margin-top: 15px;
}

.navlist .subNav06 em,
.navlist .subNav06.on em {
    width: 28px;
    height: 24px;
    background-position: -221px -58px;
    margin-top: 20px;
}

.navlist .subNav07 em,
.navlist .subNav07.on em {
    width: 27px;
    height: 28px;
    background-position: -262px -55px;
    margin-top: 16px;
}

.navlist .subNav08 em,
.navlist .subNav08.on em {
    width: 32px;
    height: 18px;
    background-position: -296px -60px;
    margin-top: 22px;
}

.navlist .subNav09 em,
.navlist .subNav09.on em {
    width: 26px;
    height: 25px;
    background-position: -337px -56px;
    margin-top: 18px;
}

.navlist .subNav010 em,
.navlist .subNav010.on em {
    width: 24px;
    height: 24px;
    background-position: -373px -55px;
    margin-top: 18px;
}

.navbox {
    width: 100%;
    height: 420px;
    bottom: 80px;
    left: 0;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    background: #5f504e;
    box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.4);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.4);
    -moz-box-shadow: 0px 5px 30px 0px rgba(129, 5, 7, 0.4);
}

.subMenu {
    padding: 30px 42px 0;
}

.subMenuTxts {
    width: 558px;
}

.subMenuTxts .menuLogo {
    font-size: 26px;
    color: #fff;
    line-height: 1;
    margin-bottom: 30px;
}

.subMenuTxts .menuLogo em {
    margin-top: 5px;
    margin-left: 11px;
}

.subMenuTxts .menuLogo1 em {
    width: 80px;
    height: 21px;
    background-position: -905px -9px;
}

.subMenuTxts .menuLogo2 em {
    width: 104px;
    height: 21px;
    background-position: -892px -37px;
}

.subMenuTxts .menuLogo3 em {
    width: 109px;
    height: 21px;
    background-position: -887px -65px;
}

.subMenuTxts .menuLogo4 em {
    width: 107px;
    height: 21px;
    background-position: -888px -93px;
}

.subMenuTxts .menuLogo5 em {
    width: 152px;
    height: 20px;
    background-position: -842px -124px;
}

.subMenuTxts .menuLogo6 em {
    width: 95px;
    height: 20px;
    background-position: -900px -152px;
}

.subMenuTxts .menuLogo7 em {
    width: 109px;
    height: 21px;
    background-position: -885px -181px;
}

.subMenuTxts .menuLogo8 em {
    width: 96px;
    height: 21px;
    background-position: -898px -211px;
}

.subMenuTxt {
    width: 100%;
}

.subMenuTxt ul {
    width: 560px;
    height: 260px;
    column-count: 2;
    text-align: left;
    float: left;
}

.subMenuTxt ul li {
    width: 150px;
    height: 35px;
}

.subMenuTxt ul li a {
    font-size: 15px;
    color: #fff;
    position: relative;
    line-height: 20px;
    margin: 12px 0;
}

.subMenuTxt ul li a i.hot {
    width: 25px;
    height: 12px;
    background-position: -466px -18px;
    position: absolute;
    top: -3px;
    right: -31px;
}

.subMenuTxt ul li a i.new {
    width: 25px;
    height: 12px;
    background-position: -466px -1px;
    position: absolute;
    top: -3px;
    right: -31px;
}

.subMenuPics {
    width: 520px;
}

.subMenuPics a {
    margin-bottom: 12px;
}

.bannerBz {
    width: 100%;
    height: 534px;
}

/*pub foot*/
.qualityBoxs {
    width: 100%;
    height: 500px;
    background: url(../image/footer.jpg) no-repeat center center;
}

.qualContent {
    width: 100%;
    height: 273px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 10px 50px 0px rgba(168, 168, 170, 0.5);
    -webkit-box-shadow: 0px 10px 50px 0px rgba(168, 168, 170, 0.5);
    -moz-box-shadow: 0px 10px 50px 0px rgba(168, 168, 170, 0.5);
    top: 330px;
    left: 0;
    background: #fff;
    padding-top: 55px;
    padding-left: 50px;
    color: #999;
    line-height: 30px;
}

.qualContent h3 {
    width: 375px;
    height: 40px;
    background-position: -12px -148px;
    margin-bottom: 10px;
}

.qualityTxt1 {
    font-size: 18px;
    margin-top: 15px;
}

.qualityTxt1 em {
    width: 17px;
    height: 17px;
    background-position: -712px -114px;
    margin-right: 6px;
    margin-top: -5px;
}

.qualityTxt2 {
    font-size: 18px;
}

.qualityTxt2 em {
    width: 16px;
    height: 16px;
    background-position: -712px -146px;
    margin-right: 6px;
    margin-top: -4px;
}

.qualContent p {
    font-size: 16px;
    margin-top: 15px;
}

.qualfl {
    width: 378px;
}

.qualCen {
    width: 162px;
    height: 162px;
    box-shadow: 0px 10px 27px 0px rgba(168, 168, 170, 0.5);
    -webkit-box-shadow: 0px 10px 27px 0px rgba(168, 168, 170, 0.5);
    -moz-box-shadow: 0px 10px 27px 0px rgba(168, 168, 170, 0.5);
    margin-left: 90px;
    margin-right: 110px;
}

.qualLinks {
    width: 280px;
    margin-left: 74px;
}

.qualLinks a {
    width: 122px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(168, 168, 170, 0.3);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(168, 168, 170, 0.3);
    -moz-box-shadow: 0px 5px 20px 0px rgba(168, 168, 170, 0.3);
    text-align: center;
    border-radius: 30px;
    color: #6a9bd3;
    margin-bottom: 15px;
}

.qualLinks a:hover {
    background: #6a9bd3;
    color: #fff;
}

.footerIndex {
    width: 100%;
    height: 390px;
    padding-top: 160px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.footerIndex p {
    margin-top: 40px;
    line-height: 30px;
}

.footerIndex p img {
    margin-right: 3px;
}

.frlink {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.frlink a {
    font-size: 13px;
    margin-left: 10px
}

.bannerPic img {
    width: 1920px !important;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
}
